
<ngb-datepicker #dp [(ngModel)]="model" [disabled]="disabled" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<button *ngIf="shouldDisplayDisableButton" class="btn btn-sm btn-outline-{{disabled ? 'danger' : 'success'}}" (click)="disabled = !disabled">
    {{ disabled ? "doar dus" : "dus-întors"}}
  </button>
  
<hr/>


